.title {
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 30px;
}

.list {
    padding: 0;
    margin: 0;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, minmax(55px, 1fr));
    list-style-type: none;
    text-align: center;
}