.info {
    grid-area: info;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 30px;
}

.avatar {
    width: 100%;
    min-height: 150px;
	height: 100%;
    background-size: cover;
    background-position: center;
}

.avatarWrapper {
    display: grid;
    grid-gap: 20px;
}

.name {
    margin-top: 0;
}

.text {
    font-size: 18px;
    grid-column-start: 1;
    grid-column-end: 2;
}