.header {
	display: flex;
}

.logo {
	width: 50px;
}

.login {
	display: flex;
	align-items: center;
	margin-left: auto;
	text-align: right;
}

.login__name {
	font-weight: 700;
	margin-right: 16px;
	margin-left: 16px;
}