.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.pagination {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    list-style-type: none;
    padding: 0;
}

.pagination__item {
    margin-right: 3px;
    margin-left: 3px;
    display: flex;
    align-items: center;
}

.pagination__item_active .pagination__button {
    font-weight: bold;
    background-color: #fff;
    border-radius: 50%;
}

.pagination__button {
    padding: 5px;
    height: 35px;
    width: 35px;
    background-color: transparent;
    border-width: 0;
    color: #000;
    font-weight: inherit;
    cursor: pointer;
    font-size: 14px;
}

.pagination__button:focus {
    outline: none;
}