.item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: #424242;
    text-decoration: none;
}

.item:not(.active) {
    opacity: 0.4;
}

.item.active {
    background-color: #dfecec;
    font-weight: bold;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a01f52;
    margin-right: 20px;
}