.item {
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 50%;
}

.altPosition {
    margin-left: auto;
}

.item:not(:last-child) {
    margin-bottom: 20px;
}

.img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #a01f52;
    margin-right: 10px;
}